// Palette
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

$beige-color: hsl(50, 100%, 94%)
$grey-color: hsl(0, 0%, 15%)

$mint-color: hsl(150, 54%, 76%)

$gradient-color-adjust: 5

// Reset
*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: $grey-color

// Structure
.flex
    display: flex

.flex-column
    flex-direction: column

.flex-wrap
    flex-wrap: wrap

.space-evenly
    justify-content: space-evenly

.center-cross
    align-items: center

.padding-small
    padding: $spacing-small

.padding-medium
    padding: $spacing-medium

.gap-small
    gap: $spacing-small

.gap-medium
    gap: $spacing-medium

.gap-large
    gap: $spacing-large

.width-medium
    width: 10rem

.height-large
    height: 15rem

// Colors
.text-beige
    color: $beige-color

.text-grey
    color: $grey-color

.bg-mint
    background: linear-gradient(lighten($mint-color, $gradient-color-adjust), darken($mint-color, $gradient-color-adjust))

// Decoration
.debug-border
    box-shadow: 0 0 1rem orange

.border
    border: 0.1rem solid $beige-color

.border-green
    border-color: green

.glow-beige
    box-shadow: 0 0 1rem $beige-color

.border-radius-medium
    border-radius: $spacing-medium

// Type
.helvetica
    font-family: Arial, Helvetica, sans-serif

.center-text
    text-align: center

.font-big
    font-size: 5rem

// Interaction
.no-select
    user-select: none

.pointer
    cursor: pointer
