// PALETTE
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// RESET
*
    padding: 0
    margin: 0
    box-sizing: border-box

// MAIN

body
    background: #262626

ul
    list-style: none

#app
    height: 100vh
    overflow: hidden
    color: beige
    font-family: Arial, Helvetica, sans-serif
    display: flex
    flex-direction: column
    gap: $spacing-medium
    padding: $spacing-medium

.characters
    display: flex
    justify-content: space-between

.character
    padding: $spacing-medium
    flex: 0 0 8rem
    border: 1px solid beige
    transition: transform 300ms, background-color 300ms

    progress
        width: 100%

    &.enemy
        border-style: dotted
        &.attacking
            transform: translateX(-1rem)

    &.attacking
        transform: translateX(1rem)
        box-shadow: 0 0 1rem beige

    &.hit
        background-color: magenta
