// PALETTE
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// RESET
*
    padding: 0
    margin: 0
    box-sizing: border-box

// MAIN

body
    background: #262626

ul
    list-style: none

#app
    height: 100vh
    overflow: hidden
    color: beige
    font-family: Arial, Helvetica, sans-serif
    display: flex
    flex-direction: column
    gap: $spacing-medium
    padding: $spacing-medium

.characters
    display: flex
    justify-content: space-between

.character
    padding: $spacing-medium
    flex: 0 0 5rem
    border: 1px solid beige
    transition: transform 300ms, background-color 300ms

    &.attacking
        transform: scale(1.08)

    &.hit
        background-color: grey
